# Ignore old Angular project
e-commerce/

# Node dependencies
node_modules/

# Angular output
dist/
.angular/

# Git
.git/
.gitignore

# Docker / Compose files (not needed inside the image)
Dockerfile
Dockerfile.dev
docker-compose.yml

# OS / Editor folders
.vscode/
.idea/

# Logs / temporary files
*.log
*.tmp

# Misc
README.md
