.side-nav-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    padding: 2vh 0 2vh 0;

    .clear-filters-button {
        height: 5vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    p-panel {
        height: 18vh;
    }
}

.buttons-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.radio-button {
    display: flex;
    gap: 1rem;
}

.category-header {
    line-height: 1;
    font-weight: var(--p-panel-title-font-weight);
}