.cart-table-wrapper {
    width: 100%;
    border: 1px solid var(--p-primary-500);
    border-radius: 10px;
    padding: 10px;
    background-color: var(--p-primary-300);
    overflow-y: hidden;

    .header-wrapper {
        // position: absolute;
        padding: 12px;
        .header {
            font-size: 1.25rem;
            font-weight: 600;
        }
    }

    .footer-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 12px;

        .footer {
            font-size: 1.25rem;
            font-weight: 600;
        }
    }

    .table-wrapper {
        // margin: 40px 0px 60px 0px;
        overflow-y: scroll;
        max-height: calc(100dvh - 240px);
        scrollbar-width: none;
    }
}
.table-row {
    img {
        width: 100%;
        height: 8dvh;
        object-fit: contain;
        border-radius: 14px 14px 0 0;
    }

    td {
        font-weight: 600;
    }
}
