<p-button (onClick)="visible = true" [styleClass]="isMobile ? 'w-full' : ''">Login</p-button>

@if (!isMobile) {
    <p-dialog
        header="Log in"
        [modal]="true"
        [(visible)]="visible"
        [style]="{ width: '30rem' }"
        [contentStyle]="{ height: '17rem' }"
        (onHide)="onHideDialog()"
    >
        <form [formGroup]="loginForm" (ngSubmit)="onFormSubmit()" class="login-form">
            <div class="form-body">
                <p-floatLabel variant="on">
                    <input pInputText id="email-d" pSize="large" formControlName="email" />
                    <label for="email-d">Email</label>
                </p-floatLabel>
                <p-floatLabel variant="on">
                    <p-password id="password-d" size="large" formControlName="password"
                        [toggleMask]="true" [feedback]="false" />
                    <label for="password-d">Password</label>
                </p-floatLabel>
            </div>
            <div class="submit-button">
                <p-button type="Submit" [disabled]="loginForm.invalid">Log in</p-button>
            </div>
        </form>
    </p-dialog>
}

@if (isMobile) {
    <p-drawer
        [(visible)]="visible"
        position="bottom"
        styleClass="mobile-form-drawer"
        (onHide)="onHideDialog()"
    >
        <ng-template #header>
            <span class="drawer-form-title">Log in</span>
        </ng-template>
        <form [formGroup]="loginForm" (ngSubmit)="onFormSubmit()" class="login-form">
            <div class="form-body">
                <p-floatLabel variant="on">
                    <input pInputText id="email-m" pSize="large" formControlName="email" />
                    <label for="email-m">Email</label>
                </p-floatLabel>
                <p-floatLabel variant="on">
                    <p-password id="password-m" size="large" formControlName="password"
                        [toggleMask]="true" [feedback]="false" />
                    <label for="password-m">Password</label>
                </p-floatLabel>
            </div>
            <div class="submit-button">
                <p-button type="Submit" [disabled]="loginForm.invalid" styleClass="w-full">Log in</p-button>
            </div>
        </form>
    </p-drawer>
}
