<div class="navbar">
    <div class="home-button-wrapper">
        <p-button routerLink="e-com">Home</p-button>
    </div>
    <div class="auth-buttons-wrapper">
        <div class="badge-wrapper">
            <p-overlaybadge [value]="cartItems">
                <i class="pi pi-cart-arrow-down" style="font-size: 1rem"></i>
            </p-overlaybadge>
        </div>
        @if (loggedUser.id === -1) {
        <app-register></app-register>
        <app-login></app-login>
        } @if (loggedUser.id !== -1) {
        <p-button (onClick)="logOut()">Log out</p-button>
        }
    </div>
</div>
