p-toolbar {
    height: 9vh;
}
.home-button-wrapper {
    margin: 0.5rem;
    width: 12vw;
}

.search-bar {
    width: 20rem;
}

.auth-buttons-wrapper {
    .badge-wrapper {
        padding: 10px 10px 0 0;
        font-size: 1.4rem;

        i {
            font-size: 1.5rem !important;
        }
    }

    width: 14vw;
    display: flex;
    gap: 1.5rem;
    justify-content: flex-end;
    padding-right: 0.5rem;
}
