<p-stepper [value]="1" [linear]="true">
    <p-step-item [value]="1">
        <p-step>Select an address</p-step>
        <p-step-panel class="panel-step">
            <ng-template #content let-activateCallback="activateCallback">
                <div class="content-wrapper">
                    <div class="step-content">
                        <div style="width: 20dvw">
                            <p-floatlabel class="w-full md:w-56" variant="in">
                                <p-select
                                    [(ngModel)]="selectedAddress"
                                    [options]="addresses"
                                    [disabled]="!addresses.length"
                                    id="address"
                                    class="w-full md:w-56"
                                    [panelStyle]="{ width: '14rem', 'max-width': '14rem' }"
                                >
                                    <ng-template #selectedItem let-selectedOption>
                                        <div>{{ selectedOption.country + ", " + selectedOption.city + ", " + selectedOption.address }}</div>
                                    </ng-template>
                                    <ng-template let-address #item>
                                        <div class="address-item-content">{{ address.country + ", " + address.city + ", " + address.address }}</div>
                                    </ng-template>
                                </p-select>
                                <label for="address">Address</label>
                            </p-floatlabel>
                        </div>
                        <div>
                            <app-create-address (onAddressCreate)="onAddressCreate()"></app-create-address>
                        </div>
                    </div>
                    <div>
                        <p-button label="Next" [disabled]="!selectedAddress" (onClick)="onProceedToPayment(activateCallback)" />
                    </div>
                </div>
            </ng-template>
        </p-step-panel>
    </p-step-item>

    <p-step-item [value]="2">
        <p-step>Process payment</p-step>
        <p-step-panel class="panel-step">
            <ng-template #content let-activateCallback="activateCallback">
                <div class="content-wrapper">
                    <div class="card-form-wrapper">
                        <div id="card-element" class="card-element"></div>
                        @if (cardError) {
                            <p-message severity="error" size="small" variant="simple">{{ cardError }}</p-message>
                        }
                        <p-button
                            label="Pay Now"
                            [loading]="isProcessing"
                            [disabled]="isProcessing"
                            (onClick)="handlePayment()"
                        />
                    </div>
                    <div>
                        <p-button label="Back" severity="secondary" [disabled]="isProcessing" (onClick)="activateCallback(1)" />
                    </div>
                </div>
            </ng-template>
        </p-step-panel>
    </p-step-item>
</p-stepper>
