.panel-step {
    .content-wrapper {
        min-height: 14dvh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 10px 0 10px 10px;
        gap: 16px;
        .step-content {
            display: flex;
            width: 30dvw;
            justify-content: space-between;
            gap: 20px;
            align-items: center;
        }
        .card-form-wrapper {
            display: flex;
            flex-direction: column;
            gap: 12px;
            max-width: 400px;
        }
    }
}

.card-element {
    padding: 12px;
    border: 1px solid #ced4da;
    border-radius: 6px;
    background: white;
    transition: border-color 0.15s ease-in-out;
    &:focus-within {
        border-color: #86b7fe;
        outline: 0;
        box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
    }
}

.address-item-content {
    max-width: 100%;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
