.home-page-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: var(--p-primary-200);
}

.data-wrapper {
    width: min(95%, 1600px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    .cards-wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
        gap: 1rem;

        width: 100%;
        margin: 0 auto;
        padding: 1rem;

        overflow-y: auto;
        scrollbar-width: none;

        app-product-card {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .paginator {
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;
    }
}

.loading-wrapper {
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}

.side-nav {
    display: flex;
    flex-direction: column;
    padding-left: 2vw;
    height: 91vh;

    app-sort-menu {
        width: 15rem;
    }

    app-side-nav {
        width: 15rem;
        display: flex;
    }
}
