.profile-wrapper {
    background-color: var(--p-primary-200);
    width: 100%;
    height: calc(100dvh - 80px);
    padding: 20px 40px;
    overflow-y: auto;
    scrollbar-width: none;

    .header-wrapper {
        padding: 12px 0;
        margin-bottom: 16px;

        .header {
            font-size: 1.25rem;
            font-weight: 600;
        }
    }

    .skeleton-list {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .empty-state {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 12px;
        height: 60%;
        color: var(--p-text-muted-color);

        i {
            font-size: 2.5rem;
        }

        p {
            font-size: 1rem;
            font-weight: 500;
        }
    }
}

.accordion-header {
    display: flex;
    align-items: center;
    gap: 24px;
    width: 100%;

    .order-id {
        font-weight: 700;
        min-width: 40px;
        color: var(--p-text-muted-color);
    }

    .order-date {
        font-weight: 600;
        min-width: 100px;
    }

    .order-total {
        font-weight: 700;
        min-width: 80px;
    }
}

.order-details {
    padding: 4px 0;

    .shipping-address {
        display: flex;
        align-items: center;
        gap: 8px;
        margin-bottom: 16px;
        font-weight: 500;
        color: var(--p-text-muted-color);
    }
}

.table-row {
    img {
        width: 100%;
        height: 8dvh;
        object-fit: contain;
        border-radius: 14px 14px 0 0;
    }

    td {
        font-weight: 600;
    }
}
